.container-fluid {
	background-color: cornflowerblue;
}

.imgBackground {
	animation-name: backgroundImg;
	/* 100s seems the a good amount of time */
	animation-duration: 1000000s;
	animation-iteration-count: infinite;
}

@keyframes backgroundImg {
	0% {
		background: url(./img/logo.svg) fixed no-repeat;
	}
	20% {
		background: url(./img/weatherIMG.svg) fixed no-repeat;
	}
	40% {
		background: url(./img/Christmas_Trees.svg) fixed no-repeat;
	}
	60% {
		background: url(./img/logo.svg) fixed no-repeat;
	}
	80% {
		background: url(./img/weatherIMG.svg) fixed no-repeat;
	}
	100% {
		background: url(./img/Christmas_Trees.svg) fixed no-repeat;
	}
}

.mainHeader {
	text-align: center;
	margin-top: 3rem;
}

.weather-logo {
	height: 10rem;
	width: 10rem;
}

.searchRow {
	margin: 3rem 5rem 2rem 5rem;
}

/* .App {
	text-align: center;
} */

/* @media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
} */

/* .App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
} */
